<!DOCTYPE html>
    <html>
        <head>
            <link href="./css/styles.css"> 
            <script src="./js/app.js">
            </script>
        </head>
        <body>
             {{>header}}
            <p1>{{message}}</p1>
            {{>footer}}
        </body>
    </html>
</doctype>